
.vs/SimpleMvvmToolkit.Samples.WPF.Core/DesignTimeBuild/.dtbcache
.vs/SimpleMvvmToolkit.Samples.WPF.Core/v14/.suo
.vs/SimpleMvvmToolkit.Samples.WPF.Core/v16/.suo
.vs/SimpleMvvmToolkit.Samples.WPF.Core/v16/Server/sqlite3/db.lock
.vs/SimpleMvvmToolkit.Samples.WPF.Core/v16/Server/sqlite3/storage.ide
.vs/SimpleMvvmToolkit.Samples.WPF.Core/v16/Server/sqlite3/storage.ide-shm
.vs/SimpleMvvmToolkit.Samples.WPF.Core/v16/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp3.0/Microsoft.Expression.Interactions.dll
bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.0/runtimes/freebsd/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.0/runtimes/linux-arm/native/System.IO.Ports.Native.so
bin/Debug/netcoreapp3.0/runtimes/linux-arm64/native/System.IO.Ports.Native.so
bin/Debug/netcoreapp3.0/runtimes/linux-x64/native/System.IO.Ports.Native.so
bin/Debug/netcoreapp3.0/runtimes/linux/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.0/runtimes/linux/lib/netstandard2.0/System.IO.Ports.dll
bin/Debug/netcoreapp3.0/runtimes/osx-x64/native/System.IO.Ports.Native.dylib
bin/Debug/netcoreapp3.0/runtimes/osx/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.0/runtimes/osx/lib/netstandard2.0/System.IO.Ports.dll
bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.0/runtimes/unix/lib/netstandard2.0/System.Private.ServiceModel.dll
bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.AccountManagement.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.Protocols.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Management.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Data.OleDb.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.IO.Ports.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Private.ServiceModel.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.ServiceProcess.ServiceController.dll
bin/Debug/netcoreapp3.0/SimpleInjector.dll
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.deps.json
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.dll
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.dll.config
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.exe
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.pdb
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.runtimeconfig.json
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Express.dll
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.deps.json
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.dll
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.dll.config
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.exe
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.pdb
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.runtimeconfig.json
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.deps.json
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.dll
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.dll.config
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.exe
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.pdb
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.runtimeconfig.json
bin/Debug/netcoreapp3.0/System.ComponentModel.Composition.dll
bin/Debug/netcoreapp3.0/System.ComponentModel.Composition.Registration.dll
bin/Debug/netcoreapp3.0/System.Data.Odbc.dll
bin/Debug/netcoreapp3.0/System.Data.OleDb.dll
bin/Debug/netcoreapp3.0/System.Data.SqlClient.dll
bin/Debug/netcoreapp3.0/System.Diagnostics.PerformanceCounter.dll
bin/Debug/netcoreapp3.0/System.DirectoryServices.AccountManagement.dll
bin/Debug/netcoreapp3.0/System.DirectoryServices.Protocols.dll
bin/Debug/netcoreapp3.0/System.IO.Ports.dll
bin/Debug/netcoreapp3.0/System.Management.dll
bin/Debug/netcoreapp3.0/System.Reflection.Context.dll
bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.Duplex.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.Http.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.NetTcp.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.Primitives.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.Security.dll
bin/Debug/netcoreapp3.0/System.ServiceModel.Syndication.dll
bin/Debug/netcoreapp3.0/System.ServiceProcess.ServiceController.dll
bin/Debug/netcoreapp3.0/System.Windows.Interactivity.dll
bin/Release/netcoreapp3.0/Microsoft.Expression.Interactions.dll
bin/Release/netcoreapp3.0/Newtonsoft.Json.dll
bin/Release/netcoreapp3.0/runtimes/freebsd/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Release/netcoreapp3.0/runtimes/linux-arm/native/System.IO.Ports.Native.so
bin/Release/netcoreapp3.0/runtimes/linux-arm64/native/System.IO.Ports.Native.so
bin/Release/netcoreapp3.0/runtimes/linux-x64/native/System.IO.Ports.Native.so
bin/Release/netcoreapp3.0/runtimes/linux/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Release/netcoreapp3.0/runtimes/linux/lib/netstandard2.0/System.IO.Ports.dll
bin/Release/netcoreapp3.0/runtimes/osx-x64/native/System.IO.Ports.Native.dylib
bin/Release/netcoreapp3.0/runtimes/osx/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Release/netcoreapp3.0/runtimes/osx/lib/netstandard2.0/System.IO.Ports.dll
bin/Release/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Release/netcoreapp3.0/runtimes/unix/lib/netstandard2.0/System.Private.ServiceModel.dll
bin/Release/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
bin/Release/netcoreapp3.0/runtimes/win-x64/native/sni.dll
bin/Release/netcoreapp3.0/runtimes/win-x86/native/sni.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Data.Odbc.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.AccountManagement.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.Protocols.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Management.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Data.OleDb.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.IO.Ports.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Private.ServiceModel.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Release/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.ServiceProcess.ServiceController.dll
bin/Release/netcoreapp3.0/SimpleInjector.dll
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Express.dll
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.deps.json
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.dll
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.dll.config
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.exe
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.pdb
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.runtimeconfig.dev.json
bin/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.runtimeconfig.json
bin/Release/netcoreapp3.0/System.ComponentModel.Composition.dll
bin/Release/netcoreapp3.0/System.ComponentModel.Composition.Registration.dll
bin/Release/netcoreapp3.0/System.Data.Odbc.dll
bin/Release/netcoreapp3.0/System.Data.OleDb.dll
bin/Release/netcoreapp3.0/System.Data.SqlClient.dll
bin/Release/netcoreapp3.0/System.Diagnostics.PerformanceCounter.dll
bin/Release/netcoreapp3.0/System.DirectoryServices.AccountManagement.dll
bin/Release/netcoreapp3.0/System.DirectoryServices.Protocols.dll
bin/Release/netcoreapp3.0/System.IO.Ports.dll
bin/Release/netcoreapp3.0/System.Management.dll
bin/Release/netcoreapp3.0/System.Reflection.Context.dll
bin/Release/netcoreapp3.0/System.Runtime.Caching.dll
bin/Release/netcoreapp3.0/System.ServiceModel.dll
bin/Release/netcoreapp3.0/System.ServiceModel.Duplex.dll
bin/Release/netcoreapp3.0/System.ServiceModel.Http.dll
bin/Release/netcoreapp3.0/System.ServiceModel.NetTcp.dll
bin/Release/netcoreapp3.0/System.ServiceModel.Primitives.dll
bin/Release/netcoreapp3.0/System.ServiceModel.Security.dll
bin/Release/netcoreapp3.0/System.ServiceModel.Syndication.dll
bin/Release/netcoreapp3.0/System.ServiceProcess.ServiceController.dll
bin/Release/netcoreapp3.0/System.Windows.Interactivity.dll
obj/Debug/netcoreapp3.0/App.baml
obj/Debug/netcoreapp3.0/App.g.cs
obj/Debug/netcoreapp3.0/App.g.i.cs
obj/Debug/netcoreapp3.0/GeneratedInternalTypeHelper.g.cs
obj/Debug/netcoreapp3.0/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/netcoreapp3.0/MainWindow.baml
obj/Debug/netcoreapp3.0/MainWindow.g.cs
obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.assets.cache
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.csproj.CopyComplete
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.designer.deps.json
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.designer.runtimeconfig.json
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.dll
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.exe
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.g.resources
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore.pdb
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore_MarkupCompile.cache
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore_MarkupCompile.i.cache
obj/Debug/netcoreapp3.0/SimpleMvvm.WPFCore_MarkupCompile.lref
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.assets.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.csproj.CopyComplete
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.dll
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.exe
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.g.resources
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.pdb
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core_MarkupCompile.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core_MarkupCompile.i.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core_MarkupCompile.lref
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.assets.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.csproj.CopyComplete
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.dll
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.exe
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.g.resources
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore.pdb
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore_MarkupCompile.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore_MarkupCompile.i.cache
obj/Debug/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPFCore_MarkupCompile.lref
obj/Debug/netcoreapp3.0/Views/CustomerView.baml
obj/Debug/netcoreapp3.0/Views/CustomerView.g.cs
obj/Debug/netcoreapp3.0/Views/CustomerView.g.i.cs
obj/project.assets.json
obj/Release/netcoreapp3.0/App.baml
obj/Release/netcoreapp3.0/App.g.cs
obj/Release/netcoreapp3.0/App.g.i.cs
obj/Release/netcoreapp3.0/GeneratedInternalTypeHelper.g.cs
obj/Release/netcoreapp3.0/GeneratedInternalTypeHelper.g.i.cs
obj/Release/netcoreapp3.0/MainWindow.baml
obj/Release/netcoreapp3.0/MainWindow.g.cs
obj/Release/netcoreapp3.0/MainWindow.g.i.cs
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.AssemblyInfo.cs
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.assets.cache
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.csproj.CopyComplete
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.csprojAssemblyReference.cache
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.dll
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.exe
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.g.resources
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core.pdb
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core_MarkupCompile.cache
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core_MarkupCompile.i.cache
obj/Release/netcoreapp3.0/SimpleMvvmToolkit.Samples.WPF.Core_MarkupCompile.lref
obj/Release/netcoreapp3.0/Views/CustomerView.baml
obj/Release/netcoreapp3.0/Views/CustomerView.g.cs
obj/Release/netcoreapp3.0/Views/CustomerView.g.i.cs
obj/SimpleMvvm.WPFCore.csproj.nuget.cache
obj/SimpleMvvm.WPFCore.csproj.nuget.dgspec.json
obj/SimpleMvvm.WPFCore.csproj.nuget.g.props
obj/SimpleMvvm.WPFCore.csproj.nuget.g.targets
obj/SimpleMvvmToolkit.Samples.WPF.Core.csproj.nuget.cache
obj/SimpleMvvmToolkit.Samples.WPF.Core.csproj.nuget.dgspec.json
obj/SimpleMvvmToolkit.Samples.WPF.Core.csproj.nuget.g.props
obj/SimpleMvvmToolkit.Samples.WPF.Core.csproj.nuget.g.targets
obj/SimpleMvvmToolkit.Samples.WPFCore.csproj.nuget.cache
obj/SimpleMvvmToolkit.Samples.WPFCore.csproj.nuget.dgspec.json
obj/SimpleMvvmToolkit.Samples.WPFCore.csproj.nuget.g.props
obj/SimpleMvvmToolkit.Samples.WPFCore.csproj.nuget.g.targets
